# General
.DS_Store
*.iml
.idea/
.vscode/
*.swp
*.swo

# Python (Backend)
backend/**/__pycache__/
backend/**/*.py[cod]
backend/**/*$py.class
backend/**/env/
backend/**/venv/
backend/**/*.log
backend/**/db.sqlite3
backend/**/media/

# Android (Frontend)
frontend/.gradle/
frontend/build/
frontend/*/build/
frontend/local.properties
frontend/captures
frontend/.externalNativeBuild
frontend/.cxx
